<div class="input-box"> {# NAME #}
    <div class="input-title">Nome</div>
    <input type="text" name="name" value="{{chef.name}}">
</div>
<div class="input-box"> {# IMG #}
    <div class="input-title">Avatar</div>
    <input type="url" name="avatar_url" value="{{chef.avatar_url}}">
</div>