@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    position: relative;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    font-family: 'Roboto', sans-serif;
    color: #111111;
    padding-bottom: 30px;
}

/*********** NAVBAR **************/

.navbar{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 150px 80px 80px 80px 1fr;
    align-content: center;
}
.navbar-links{
    padding-top: 5px;
    text-decoration: none;
    color: #111111;
}
.navbar-links:hover{
    font-weight: 700;
}

.navbar form{
    justify-self: right;
}

.navbar form input{
    padding: 8px 8px;
    margin-right: 8px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #cccccc;
}

.navbar form button{
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    background-color: #6558c3;
    color: #eee;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
.navbar form button:hover{
    opacity: 0.8;
}

/********* FOOTER *********/

footer{
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-size: 14px;
    color: #999999;
    text-align: center;
}